<div class="overlay" [ngStyle]="{'display':display}"></div>
<!-- Modal -->
<div class="modal" [ngStyle]="{'display':display}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ isEditModeEnabled ? 'Edit' : 'Add'}} product</h5>
                <button (click)="closeModal(myForm)" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #myForm="ngForm" [formGroup]="productForm">
                    <div class="form-group mb-3">
                        <div>Name:</div>
                        <input type="text" class="form-control" placeholder='Enter a name' formControlName="name" [ngClass]="{'error': submitted && myForm.form.controls.name.errors}">
                        <!-- error block -->
                        <div style="color:#E91E63" *ngIf="submitted && myForm.form.controls.name.errors?.required">
                            <sup>*</sup>Enter your name
                        </div>
                        <div style="color:#E91E63" *ngIf="submitted && myForm.form.controls.name.errors?.minlength">
                            <sup>*</sup>Name must be 2 characters long
                        </div>
                        <div style="color:#E91E63" *ngIf="submitted && myForm.form.controls.name.errors?.maxlength">
                            <sup>*</sup>Name must not have more than 20 characters
                        </div>
                        <div style="color:#E91E63" *ngIf="submitted && myForm.form.controls.name.errors?.pattern">
                            <sup>*</sup>No special charcter allowed
                        </div>
                    </div>


                    <div class="form-group mb-3">
                        <div>Serial Number:</div>
                        <input type="text" class="form-control" placeholder='Enter a serial number' formControlName="serial_number" [ngClass]="{'error': submitted && myForm.form.controls.serial_number.errors}">
                        <div style="color:#E91E63" *ngIf="submitted && myForm.form.controls.serial_number.errors?.required">
                            <sup>*</sup>Enter your serial number
                        </div>
                        <div style="color:#E91E63" *ngIf="submitted && (myForm.form.controls.serial_number.errors?.minlength || myForm.form.controls.serial_number.errors?.maxlength)">
                            <sup>*</sup>Must be 8 characters
                        </div>
                        <div style="color:#E91E63" *ngIf="submitted && myForm.form.controls.serial_number.errors?.pattern">
                            <sup>*</sup>No special charcter allowed
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div>Precio:</div>
                        <input type="number" class="form-control" placeholder='Enter price' formControlName="price" [ngClass]="{'error': submitted && myForm.form.controls.price.errors}">
                        <div style="color:#E91E63" *ngIf="submitted && myForm.form.controls.price.errors?.required">
                            <sup>*</sup>Enter your price
                        </div>
                        <div style="color:#E91E63" *ngIf="submitted && (myForm.form.controls.price.errors?.min || myForm.form.controls.price.errors?.max)">
                            <sup>*</sup>Must be between 100 and 500
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" (click)="closeModal(myForm)">Close</button>
                <input *ngIf="!isEditModeEnabled" type="button" class="btn btn-primary" (click)="addProduct(myForm)" value='Add Product'>
                <input *ngIf="isEditModeEnabled" type="button" class="btn btn-success" (click)="updateProduct(myForm)" value='Update Product'>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="content-button">
        <button (click)="openDialogModal()" class="btn btn-primary mt-5"> Add Product</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Serial Number</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.serial_number}}</td>
                <td>{{product.price | number:'0.2-2'}}</td>
                <td>
                    <button (click)="editProduct(product)" class="btn btn-primary m-lg-1 fa fa-pencil-square-o"></button>
                    <button (click)="deleteProduct(product.id)" class="btn btn-danger fa fa-trash-o"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>