.form-action {
    background: #428bca;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.content-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.invalid-feedback {
    color: #E91E63;
}